## Compiled JavaScript files
**/*.js
**/*.js.map
script/*.json
script/**/*.json

!.eslintrc.js
!.prettierrc.js
!script/*.js
!script/**/*.js

# Typescript v1 declaration files
typings/

node_modules/

# workspace
.vscode/